.about-image {
    width: 100%;
    height: auto;
    position: relative;
}

.about-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.about-title h1 {
    position: absolute;
    color: white;
    font-size: 5rem;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.about-text-container {
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 40px;
    
}

.about-text {
    margin-left: 100px;
    background-color:aliceblue;
    width: 50%;
    height: auto;
    box-shadow: rgba(250, 190, 78, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.about-text p {
    padding: 50px;
}
.about-text h3 {
    padding: 50px;
}