.checkout-body {
    font-family: 'Mukta', sans-serif;
    display: flex;
    justify-content: space-evenly;
}

.checkout-items {
    background-color:aliceblue;
    width: 30%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    height: auto;
}

.checkout-image img{
    width: 30%;
}
.spacer3 {
    height: 60px;
}

.spacer-bottom-checkout {
    height: 500px;
}

.quant-price {
    display: flex;
    justify-content: space-around;
    gap: 0px;
    padding-top: 0;
    margin-top: 10px;
}

.checkout-total-price {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: end;
    border-top: black solid 2px;
    padding-top: 5px;
}

.render-address {
    position: relative;
    width: 50%;
    margin-top: 40px;
    box-shadow: rgba(250, 190, 78, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.text1 {
    display: flex;
    gap: 10%;
    text-align:left
}
.render-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.address-button {
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.checkout-price {
    width: auto;
}