.login-body {
    position: relative;
}

.error-message {
    text-align: center;
    background-color: rgb(252, 169, 45);
    width: 100%;
}

.login-page {
    display: flex;
    flex-direction: column;
    
}

.side-box {
    text-align: center;
    margin-top: 40px;
    text-decoration: none;
}