body {
    font-family: 'Mukta', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.font {
    font-family: 'Mukta', sans-serif;
}

.is-footer {
    
    position:relative;
    bottom: 0;
    width: 100%;
}

.App {
    padding-bottom: 200px;
}

.keep-footer-down {
    height: 200px;
}