body {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.is-footer {
   
    position: relative;
    bottom: 0;
    width: 100%;
}

.App {
    padding-bottom: 600px;
}